<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" fill="outline" (click)="navTwoD()">2D Fuel Consumption</ion-button>
  <ion-button expand="block" fill="outline" (click)="navClassification()">Classification Handwriting</ion-button>
  <ion-button expand="block" fill="outline" (click)="navFootballPrem()">Football (Prem)</ion-button>
  <ion-button expand="block" fill="outline" (click)="navFootballScotPrem()">Football (Scot Prem)</ion-button>
</ion-content>
